*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile{
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 50px auto;
  /* display: flex;
  flex-wrap: wrap; */
}
.w-50{
  width: 50%;
}
img{
  width: 100%;
  margin-top: 20px;
  margin-left: 70px;
}
h1{
  font-size: 30px;
  text-align: center;
}
h2{
  margin: auto;
  font-size: 20px;
  text-align: center;
}